In [78]:
import pandas as pd
import numpy as np

In [95]:
df = pd.read_csv('balance-scale-data-2.csv')

In [96]:
df.head()

  col-1  col-2  col-3  col-4  col-5
0     B      1      1      1      1
1     R      1      1      1      2
2     R      1      1      1      3
3     R      1      1      1      4
4     R      1      1      1      5

In [97]:
df.shape

(625, 5)

In [98]:
df.columns

Index(['col-1', 'col-2', 'col-3', 'col-4', 'col-5'], dtype='object')

In [99]:
y = df.iloc[:,0]
y

0      B
1      R
2      R
3      R
4      R
5      R
6      R
7      R
8      R
9      R
10     R
11     R
12     R
13     R
14     R
15     R
16     R
17     R
18     R
19     R
20     R
21     R
22     R
23     R
24     R
25     L
26     B
27     R
28     R
29     R
      ..
595    L
596    L
597    L
598    B
599    R
600    L
601    L
602    L
603    L
604    L
605    L
606    L
607    L
608    L
609    L
610    L
611    L
612    L
613    L
614    L
615    L
616    L
617    L
618    L
619    L
620    L
621    L
622    L
623    L
624    B
Name: col-1, Length: 625, dtype: object

In [100]:
x = df.iloc[:,1:]
x

     col-2  col-3  col-4  col-5
0        1      1      1      1
1        1      1      1      2
2        1      1      1      3
3        1      1      1      4
4        1      1      1      5
5        1      1      2      1
6        1      1      2      2
7        1      1      2      3
8        1      1      2      4
9        1      1      2      5
10       1      1      3      1
11       1      1      3      2
12       1      1      3      3
13       1      1      3      4
14       1      1      3      5
15       1      1      4      1
16       1      1      4      2
17       1      1      4      3
18       1      1      4      4
19       1      1      4      5
20       1      1      5      1
21       1      1      5      2
22       1      1      5      3
23       1      1      5      4
24       1      1      5      5
25       1      2      1      1
26       1      2      1      2
27       1      2      1      3
28       1      2      1      4
29       1      2      1      5
..     ...    ...    ...    ...
595      5      4      5      1
596      5      4      5      2
597      5      4      5      3
598      5      4      5      4
599      5      4      5      5
600      5      5      1      1
601      5      5      1      2
602      5      5      1      3
603      5      5      1      4
604      5      5      1      5
605      5      5      2      1
606      5      5      2      2
607      5      5      2      3
608      5      5      2      4
609      5      5      2      5
610      5      5      3      1
611      5      5      3      2
612      5      5      3      3
613      5      5      3      4
614      5      5      3      5
615      5      5      4      1
616      5      5      4      2
617      5      5      4      3
618      5      5      4      4
619      5      5      4      5
620      5      5      5      1
621      5      5      5      2
622      5      5      5      3
623      5      5      5      4
624      5      5      5      5

[625 rows x 4 columns]

In [101]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [102]:
from sklearn.tree import DecisionTreeClassifier

In [107]:
DT = DecisionTreeClassifier(criterion='gini')

In [111]:
DT.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [112]:
y_p = DT.predict(X_test)
y_p

array(['L', 'R', 'L', 'B', 'L', 'R', 'L', 'L', 'B', 'R', 'R', 'R', 'L',
       'B', 'R', 'L', 'B', 'L', 'R', 'L', 'L', 'R', 'R', 'B', 'L', 'L',
       'L', 'L', 'R', 'R', 'L', 'L', 'B', 'L', 'R', 'L', 'L', 'L', 'R',
       'L', 'L', 'L', 'L', 'L', 'L', 'R', 'L', 'R', 'R', 'R', 'B', 'R',
       'L', 'L', 'B', 'B', 'R', 'R', 'L', 'L', 'L', 'R', 'L', 'L', 'B',
       'L', 'R', 'B', 'R', 'R', 'L', 'R', 'R', 'B', 'L', 'R', 'L', 'L',
       'L', 'R', 'R', 'R', 'L', 'R', 'L', 'R', 'L', 'L', 'L', 'R', 'L',
       'L', 'B', 'R', 'B', 'B', 'L', 'L', 'R', 'B', 'B', 'L', 'L', 'R',
       'L', 'R', 'L', 'B', 'R', 'L', 'R', 'R', 'L', 'R', 'L', 'R', 'L',
       'L', 'R', 'R', 'L', 'R', 'L', 'L', 'R', 'L', 'L', 'R', 'R', 'R',
       'L', 'L', 'R', 'B', 'R', 'R', 'R', 'R', 'R', 'L', 'R', 'R', 'R',
       'L', 'L', 'B', 'L', 'R', 'R', 'B', 'L', 'B', 'R', 'R', 'R', 'B',
       'L'], dtype=object)

In [113]:
 from sklearn.metrics import accuracy_score
accuracy_score(Y_test,y_p)

0.7515923566878981

In [114]:
DT1 = DecisionTreeClassifier(random_state=0,criterion='entropy')

In [115]:
DT1.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [116]:
y_pr = DT1.predict(X_test)
y_pr

array(['L', 'R', 'L', 'R', 'L', 'R', 'L', 'L', 'L', 'R', 'R', 'R', 'R',
       'B', 'L', 'L', 'B', 'L', 'L', 'L', 'L', 'R', 'R', 'B', 'L', 'L',
       'L', 'L', 'R', 'R', 'L', 'L', 'B', 'L', 'R', 'L', 'L', 'L', 'R',
       'L', 'R', 'L', 'L', 'L', 'L', 'R', 'L', 'R', 'R', 'R', 'B', 'R',
       'L', 'L', 'B', 'B', 'R', 'R', 'L', 'L', 'L', 'R', 'L', 'L', 'B',
       'L', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'B', 'L', 'R', 'L', 'L',
       'L', 'R', 'R', 'R', 'L', 'R', 'L', 'R', 'L', 'L', 'L', 'R', 'L',
       'L', 'B', 'R', 'B', 'B', 'L', 'L', 'R', 'B', 'R', 'L', 'L', 'R',
       'L', 'R', 'L', 'B', 'R', 'L', 'R', 'R', 'L', 'R', 'L', 'R', 'L',
       'L', 'R', 'R', 'L', 'R', 'L', 'L', 'R', 'L', 'R', 'R', 'B', 'R',
       'L', 'L', 'R', 'L', 'R', 'R', 'R', 'R', 'B', 'L', 'R', 'R', 'R',
       'L', 'L', 'R', 'L', 'L', 'R', 'B', 'B', 'B', 'R', 'R', 'R', 'B',
       'L'], dtype=object)

In [117]:
accuracy_score(Y_test,y_pr)

0.7834394904458599

In [118]:
from sklearn.ensemble import RandomForestClassifier

In [119]:
RF = RandomForestClassifier(criterion='gini')

In [120]:
RF.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [121]:
y_pp = RF.predict(X_test)
y_pp

array(['L', 'R', 'L', 'R', 'L', 'R', 'L', 'L', 'R', 'R', 'R', 'R', 'L',
       'B', 'R', 'L', 'B', 'L', 'L', 'L', 'L', 'R', 'L', 'B', 'L', 'L',
       'L', 'L', 'R', 'R', 'L', 'L', 'B', 'L', 'R', 'L', 'L', 'L', 'R',
       'R', 'L', 'L', 'L', 'L', 'L', 'L', 'L', 'R', 'R', 'R', 'B', 'R',
       'L', 'L', 'B', 'B', 'R', 'L', 'L', 'L', 'L', 'R', 'L', 'L', 'B',
       'L', 'R', 'L', 'R', 'R', 'L', 'R', 'R', 'B', 'L', 'R', 'L', 'L',
       'L', 'R', 'R', 'R', 'L', 'R', 'B', 'R', 'L', 'L', 'L', 'R', 'L',
       'L', 'B', 'R', 'B', 'B', 'L', 'L', 'R', 'B', 'R', 'L', 'L', 'R',
       'L', 'R', 'L', 'B', 'R', 'L', 'R', 'R', 'L', 'R', 'L', 'R', 'L',
       'L', 'R', 'R', 'L', 'B', 'L', 'L', 'R', 'L', 'R', 'R', 'R', 'R',
       'L', 'L', 'R', 'L', 'R', 'R', 'R', 'R', 'R', 'L', 'R', 'R', 'L',
       'L', 'L', 'R', 'L', 'L', 'R', 'R', 'L', 'L', 'R', 'R', 'R', 'L',
       'L'], dtype=object)

In [122]:
accuracy_score(Y_test,y_pp)

0.7898089171974523

In [123]:
RF1 = RandomForestClassifier(criterion='entropy')

In [124]:
RF1.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [125]:
y_pre = RF1.predict(X_test)
y_pre

array(['L', 'R', 'L', 'R', 'L', 'R', 'L', 'L', 'R', 'R', 'R', 'R', 'R',
       'R', 'L', 'L', 'B', 'L', 'L', 'L', 'L', 'R', 'R', 'B', 'L', 'L',
       'L', 'L', 'R', 'R', 'L', 'L', 'B', 'L', 'R', 'L', 'L', 'L', 'R',
       'B', 'L', 'L', 'L', 'L', 'L', 'R', 'L', 'R', 'R', 'R', 'B', 'R',
       'L', 'L', 'B', 'B', 'R', 'B', 'L', 'L', 'L', 'R', 'L', 'L', 'B',
       'L', 'R', 'R', 'R', 'R', 'L', 'R', 'R', 'B', 'L', 'R', 'L', 'L',
       'L', 'R', 'R', 'R', 'L', 'R', 'B', 'R', 'L', 'L', 'L', 'R', 'L',
       'L', 'B', 'R', 'R', 'B', 'L', 'L', 'R', 'B', 'B', 'L', 'L', 'R',
       'L', 'R', 'L', 'B', 'R', 'L', 'L', 'R', 'L', 'R', 'B', 'R', 'L',
       'L', 'R', 'R', 'L', 'R', 'L', 'L', 'R', 'L', 'R', 'R', 'R', 'R',
       'L', 'L', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'L', 'R', 'R', 'L',
       'L', 'L', 'R', 'L', 'L', 'R', 'B', 'B', 'R', 'R', 'R', 'R', 'L',
       'L'], dtype=object)

In [126]:
accuracy_score(Y_test,y_pre)

0.802547770700637